* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

header.cabecera {
  width: 90%;
  margin: 0.2em auto;
  text-align: center;
}

#a1 {
  width: 47%;
  display: inline-block;
  padding: 0.2em;
  background: green;
}

#f1 {
  width: 47%;
  display: inline-block;
  padding: 0.5em 0.1em 0.3em;
  background: green;
  margin: 2px;

}

nav {
  background: #FF871F;
  width: 85.8%;
  margin: 0.2em auto;
  padding: 2em 0em;
  text-align: center;

}
a{
  text-decoration: none;
  color: black;
}

.galeria {
  width: 85.8%;
  background: green;
  margin: 0.2em auto;
  padding: 3.5em 0em;
  text-align: center;
}

.producto {
  width: 85.8%;
  text-align: center;
  margin: 0 auto;

}

.separa h4 {
  width: 19.2%;
  background: #96B32C;
  display: inline-block;
  padding: 3.6em 0.2em;
}

main {
  width: 85.8%;
  margin: 0.2em auto;
  text-align: center;

}

#noti1 {
  width: 49.7%;
  display: inline-block;
  padding: 3.5em 0em;
  background: green;
}

#noti2 {
  width: 49.7%;
  display: inline-block;
  padding: 3.5em 0em;
  background: green;
}

footer h6 {
  padding: 2em 0;
  text-align: center;
  background-color: #96B32C;
  width: 85.8%;
  margin: 0 auto;
}
