*{
  margin: 0;
  padding: 0;


}
  body{
  background-color: #f1f1f1;
  font-family: sans-serif;
}
header.cabecera, footer{
  background-color: #96B32C;
  color: black;
  width: 90%;
  margin:  0 auto;
}
nav{
  background: #FF871F;
  color: black;
  width: 90%;
  margin: 0.5em 3em;

}

.cabecera figure{
  width: 20%;
  display: inline-block;
  padding: 1em 2em;
}
.cabecera form{
  width: 70%;
  display: inline-block;
  text-align: right;
}
main{
  width: 66%;
  display: inline-block;
  margin-left: 3em;
  background-color: #96B32C;
  vertical-align: top;
}
main article{
  padding: 1em;
}
aside {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  background-color: #96B32C;
}
aside.galeria{
  margin: 1em;
}
.producto section{

  display: inline-block;
  vertical-align: top;

}
.separa{
  margin: 1em;
}

footer h6{
  padding: 2em 0;
  text-align: center;
}
